<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">Name :</div>
        <div class="col-md-6">Pravin Mohite</div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">City :</div>
        <div class="col-md-6">Pune</div>
    </div>  
    <div class="col-md-12">
        <div class="col-md-6">State :</div>
        <div class="col-md-6">Maharashtra</div>
    </div>   
    <div class="col-md-12">
        <div class="col-md-6">Mobile No :</div>
        <div class="col-md-6">9075190795</div>
    </div>    
</div>